/* Cart checkout page styling */

.woocommerce {
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        border-top: none;
        padding: 10px 10px 10px 35px !important;
        &:before {
            vertical-align: middle;
            top: 50% !important;
            left: 10px;
            margin-top: -7px;
        }
    }
    table {
        &.cart {
            td.actions {
                .coupon {
                    .input-text {
                        &#coupon_code {
                            padding: 10px;
                        }
                    }
                    .button {
                        @include border-radius(0);
                    }
                }
            }
        }
    }
    form {
        .form-row {
            padding: 0;
            label {
                margin-bottom: 0;
            }
            input {
                &.input-text {
                    background: $white;
                    border: 1px solid $input-border;
                    font-size: 100%;
                    padding: 13px 10px;
                    @include transition(border-color 0.3s linear);
                }
            }
            textarea {
                height: 225px;
            }
            .select2-container {
                .select2-choice {
                    @include border-radius(0);
                    border-color: $input-border;
                    padding: 7px 10px;
                }
            }
        }
        &.login,
        &.register,
        &.checkout_coupon {
            @include border-radius(0);
            padding: 10px;
            .button {
                @include border-radius(0);
                padding: 12px;
            }
        }
    }

    @include bp(max-width, $tablet - 1) {
        table {
            &.cart {
                td.actions {
                    .coupon {
                        .button {
                            font-size: 11px;
                            padding: 11px;
                        }
                    }
                }
            }
        }
    }

    @include bp(max-width, $mobile - 1) {
        form {
            &.checkout_coupon {
                .form-row-first,
                .form-row-last {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
}

.woocommerce,
.woocommerce-page {
    table {
        &.shop_table {
            th, td {
                padding: 5px;
            }
        }
        &.woocommerce-checkout-review-order-table,
        &.order_details {
            th, td {
                border-bottom: none;
            }
        }
    }
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
    .wc-proceed-to-checkout {
        a.checkout-button {
            padding: 10px;
        }
    }
    #payment {
        background: $white;
        @include border-radius(0);
        ul.payment_methods {
            margin-left: 0;
        }
        div.payment_box {
            background: $input-border !important;
            @include border-radius(0);
            &:before {
                border-bottom-color: $input-border;
            }
        }
    }
}

.woocommerce-order-received {
    #page_content_wrapper {
        .inner {
            .sidebar_content {
                .order_details {
                    margin: 0;
                    li {
                        line-height: 1.5;
                    }
                }

                @include bp(max-width, $tablet - 1) {
                    .order_details {
                        li {
                            border-right: none;
                            border-bottom: 1px dashed $order-detail-border;
                            float: none;
                            margin: 0;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}