/* Sutunam theme style */

/* Font */

/* Mixin */

/* border radius */

/* box shadow */

/* box sizing */

/* calculate */

/* transform */

/* transition */

/* opacity */

/* placeholder */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Variable */

/* Background */

/* Border */

/* Break point */

/* Color */

/* Font */

/* Layout */

/* Global */

/* General style */

body {
  line-height: 1.5;
}

input[type="checkbox"],
input[type="radio"] {
  outline: none;
}

.woocommerce #page_content_wrapper a.button:before,
.woocommerce .products a.button:before,
.woocommerce-page #page_content_wrapper a.button:before,
.woocommerce-page .products a.button:before {
  position: static;
  margin-left: 0;
}

#page_caption .page_title_wrapper {
  width: 960px;
}

.select2-drop {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #e1e1e1;
}

.wp-social-login-provider-list {
  padding: 10px 0;
}

.menu_image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.menu_content_classic .menu_title,
.menu_content_classic .menu_price {
  top: -4px;
}

@media only screen and (max-width: 767px) {
  #page_content_wrapper,
  .standard_wrapper {
    padding: 0 20px;
  }

  .menu_content_classic {
    margin: 15px 0 0;
  }

  .menu_content_classic .menu_title,
  .menu_content_classic .menu_price {
    top: 0;
  }

  .menu_content_classic .menu_title {
    font-size: 13px;
  }

  .menu_content_classic .menu_price {
    font-size: 14px;
  }

  .menu_image {
    display: none;
  }

  .one_half,
  .one_half.last,
  .one_third,
  .one_third.last,
  .one_third.pricing,
  .one_fourth.pricing {
    margin: 0;
  }
}

/* Component */

/* Header style */

@media only screen and (max-width: 767px) {
  #mobile_nav_icon {
    display: inline-block !important;
    vertical-align: top;
  }
}

/* Login popup styling */

form#login {
  background: #ffffff;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  margin: -190px 0 0 -190px;
  padding: 30px;
  z-index: 222;
}

form#login p.txt-italic {
  margin-bottom: 20px;
  padding: 0;
}

form#login p.status {
  color: #f00000;
  display: none;
}

form#login .form-group {
  margin-bottom: 10px;
}

form#login .form-group input {
  width: 100%;
}

form#login .checkbox {
  float: left;
  width: 100%;
  margin-top: 10px;
}

form#login .checkbox input {
  margin-left: 0;
}

form#login .form-action {
  float: left;
  margin-top: 10px;
}

form#login .form-action .submit-button {
  border: none;
  font-size: 14px;
  margin: 0;
  padding: 12px 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form#login .form-action .submit-button:hover {
  background: #000000;
}

form#login .form-signup {
  float: right;
  margin-top: 10px;
}

form#login .form-signup .sign-up {
  background: #ebe9eb;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 20px;
}

form#login .form-signup .sign-up:hover {
  background: #dad8da;
  color: #000000;
}

form#login .wp-social-login-widget {
  float: left;
  width: 100%;
  margin-top: 10px;
}

@media only screen and (max-width: 479px) {
  form#login {
    height: 100%;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 20px;
    left: 0;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.login-overlay {
  background: #e1e1e1;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0.8;
  z-index: 111;
}

/* Pages */

/* Product detail style */

.single-product .quantity input.qty {
  height: auto;
  padding: 14px 0;
  vertical-align: top;
}

.single-product div.product form.cart .button {
  padding: 12px !important;
}

.single-product #commentform {
  margin: 0;
}

.single-product #commentform > p {
  padding-left: 0;
}

.single-product #commentform > p.comment-form-email,
.single-product #commentform > p.form-submit {
  padding-left: 24px;
}

.single-product #commentform label {
  display: block;
  margin-bottom: 0;
}

.single-product #commentform input,
.single-product #commentform textarea {
  margin-bottom: 0;
}

.single-product #review_form #respond p {
  margin: 0;
}

.single-product #review_form #respond p.form-submit {
  float: left;
  margin-top: 23px;
}

.single-product #review_form #respond input#submit {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 12px;
}

.single-product .related.products h2 {
  font-size: 20px;
  margin-bottom: 0;
}

@media only screen and (max-width: 960px) {
  .single-product #commentform > p.comment-form-email,
  .single-product #commentform > p.form-submit {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .single-product div.product div.images,
  .single-product div.product div.summary {
    width: 100%;
    margin-right: 0;
  }

  .single-product div.product .woocommerce-tabs ul.tabs li {
    padding: 0;
  }

  .single-product div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 10px 9px 10px !important;
  }

  .single-product div.product .woocommerce-tabs .panel {
    padding: 10px;
  }

  .single-product #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-author,
  .single-product #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-email,
  .single-product #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-url {
    width: 100%;
  }

  .single-product #reviews #comments ol.commentlist li .comment-text p.meta {
    float: left;
    width: 100%;
  }

  .single-product #review_form #respond p.form-submit {
    margin-top: 10px;
  }
}

/* Cart checkout page styling */

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  border-top: none;
  padding: 10px 10px 10px 35px !important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
  vertical-align: middle;
  top: 50% !important;
  left: 10px;
  margin-top: -7px;
}

.woocommerce table.cart td.actions .coupon .input-text#coupon_code {
  padding: 10px;
}

.woocommerce table.cart td.actions .coupon .button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.woocommerce form .form-row {
  padding: 0;
}

.woocommerce form .form-row label {
  margin-bottom: 0;
}

.woocommerce form .form-row input.input-text {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  font-size: 100%;
  padding: 13px 10px;
  -webkit-transition: border-color 0.3s linear;
  -moz-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}

.woocommerce form .form-row textarea {
  height: 225px;
}

.woocommerce form .form-row .select2-container .select2-choice {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #e1e1e1;
  padding: 7px 10px;
}

.woocommerce form.login,
.woocommerce form.register,
.woocommerce form.checkout_coupon {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 20px 0;
}

.woocommerce form.login .button,
.woocommerce form.register .button,
.woocommerce form.checkout_coupon .button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 12px;
}

@media only screen and (max-width: 767px) {
  .woocommerce table.cart td.actions .coupon .button {
    font-size: 11px;
    padding: 11px;
  }
}

@media only screen and (max-width: 479px) {
  .woocommerce form.checkout_coupon .form-row-first,
  .woocommerce form.checkout_coupon .form-row-last {
    float: none;
    width: 100%;
  }
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table th,
.woocommerce-page table.shop_table td {
  padding: 5px;
}

.woocommerce table.woocommerce-checkout-review-order-table th,
.woocommerce table.woocommerce-checkout-review-order-table td,
.woocommerce table.order_details th,
.woocommerce table.order_details td,
.woocommerce-page table.woocommerce-checkout-review-order-table th,
.woocommerce-page table.woocommerce-checkout-review-order-table td,
.woocommerce-page table.order_details th,
.woocommerce-page table.order_details td {
  border-bottom: none;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  padding: 10px;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  margin-left: 0;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  background: #e1e1e1 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
  border-bottom-color: #e1e1e1;
}

#add_payment_method #payment div.payment_box .form-row,
.woocommerce-cart #payment div.payment_box .form-row,
.woocommerce-checkout #payment div.payment_box .form-row {
  margin: 0;
}

#add_payment_method #payment div.payment_box .form-row label,
.woocommerce-cart #payment div.payment_box .form-row label,
.woocommerce-checkout #payment div.payment_box .form-row label {
  font-weight: normal;
  text-transform: none;
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  #add_payment_method #payment div.payment_box .form-row-first,
  #add_payment_method #payment div.payment_box .form-row-last,
  .woocommerce-cart #payment div.payment_box .form-row-first,
  .woocommerce-cart #payment div.payment_box .form-row-last,
  .woocommerce-checkout #payment div.payment_box .form-row-first,
  .woocommerce-checkout #payment div.payment_box .form-row-last {
    width: 100%;
  }

  #add_payment_method #payment .payment_method_paypal label img,
  #add_payment_method #payment .payment_method_paypal label a,
  .woocommerce-cart #payment .payment_method_paypal label img,
  .woocommerce-cart #payment .payment_method_paypal label a,
  .woocommerce-checkout #payment .payment_method_paypal label img,
  .woocommerce-checkout #payment .payment_method_paypal label a {
    display: none;
  }
}

.woocommerce-order-received #page_content_wrapper .inner .sidebar_content .order_details {
  margin: 0;
}

.woocommerce-order-received #page_content_wrapper .inner .sidebar_content .order_details li {
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .woocommerce-order-received #page_content_wrapper .inner .sidebar_content .order_details li {
    border-right: none;
    border-bottom: 1px dashed #d3ced2;
    float: none;
    margin: 0;
    padding: 5px 0;
  }
}

/* News page styling */

.post_header.grid h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 960px) {
  .post_header.grid h6 {
    overflow: visible;
    white-space: normal;
  }
}

@media only screen and (max-width: 767px) {
  .post_header.grid h6 {
    line-height: normal;
  }
}