/* Sutunam theme style */

/* Font */

/* Mixin */

/* border radius */

/* box shadow */

/* box sizing */

/* calculate */

/* transform */

/* transition */

/* opacity */

/* placeholder */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Variable */

/* Background */

/* Border */

/* Break point */

/* Color */

/* Font */

/* Layout */

/* Global */

/* General style */

.woocommerce #page_content_wrapper a.button:before,
.woocommerce .products a.button:before,
.woocommerce-page #page_content_wrapper a.button:before,
.woocommerce-page .products a.button:before {
  position: static;
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  #page_content_wrapper {
    padding: 0 20px;
  }
}

/* Component */

/* Header style */

@media only screen and (max-width: 767px) {
  #mobile_nav_icon {
    display: inline-block !important;
    vertical-align: top;
  }
}

/* Pages */

/* Product detail style */

.single-product .quantity input.qty {
  height: auto;
  padding: 14px 0;
  vertical-align: top;
}

.single-product div.product form.cart .button {
  padding: 12px !important;
}

.single-product #commentform label {
  display: block;
  margin-bottom: 0;
}

.single-product #commentform input,
.single-product #commentform textarea {
  margin-bottom: 0;
}

.single-product #review_form #respond p {
  margin: 0;
}

.single-product #review_form #respond p.form-submit {
  float: left;
  margin-top: 23px;
}

.single-product #review_form #respond input#submit {
  padding: 12px;
}

.single-product .related.products h2 {
  font-size: 20px;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .single-product div.product div.images,
  .single-product div.product div.summary {
    width: 100%;
    margin-right: 0;
  }

  .single-product div.product .woocommerce-tabs ul.tabs li {
    padding: 0;
  }

  .single-product div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 10px 9px 10px !important;
  }

  .single-product div.product .woocommerce-tabs .panel {
    padding: 10px;
  }

  .single-product #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-author,
  .single-product #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-email,
  .single-product #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-url {
    width: 100%;
  }

  .single-product #reviews #comments ol.commentlist li .comment-text p.meta {
    float: left;
    width: 100%;
  }

  .single-product #review_form #respond p.form-submit {
    margin-top: 10px;
  }
}

/* Cart checkout page styling */

.woocommerce table.cart td.actions .coupon .input-text#coupon_code {
  padding: 10px;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table th,
.woocommerce-page table.shop_table td {
  padding: 5px;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  padding: 10px;
}