/* Background */


/* Border */
$input-border: #e1e1e1;
$order-detail-border: #d3ced2;

/* Break point */
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;

/* Color */
$black: #000000;
$white: #ffffff;
$red: #f00000;

/* Font */
@include placeholder('font-style') {
    font-style: normal;
    font-weight: normal;
}

/* Layout */


