/* Login popup styling */

form {
    &#login {
        background: $white;
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        width: 320px;
        padding: 30px;
        z-index: 222;
        @include transform(translate(-50%, -50%));
        p {
            &.txt-italic {
                margin-bottom: 20px;
                padding: 0;
            }
            &.status {
                color: $red;
                display: none;
            }
        }
        .form-group {
            margin-bottom: 10px;
            input {
                width: 100%;
            }
        }
        .checkbox {
            float: left;
            margin-top: 10px;
            input {
                margin-left: 0;
            }
        }
        .form-action {
            float: right;
            margin-top: 10px;
            .submit-button {
                font-size: 14px;
                margin: 0;
                padding: 10px;
                @include transition();
                &:hover {
                    background: $black;
                }
            }
        }
        .form-signup {
            float: left;
        }
        .wp-social-login-widget {
            float: left;
            width: 100%;
            margin-top: 10px;
        }

        @include bp(max-width, $mobile - 1) {
            height: 100%;
            width: auto;
            max-width: 100%;
            padding: 20px;
            left: 0;
            top: 0;
            @include transform(none);
        }
    }
}

.login-overlay {
    background: $input-border;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.8;
    z-index: 111;
}