/* General style */

body {
    line-height: 1.5;
}

input[type="checkbox"],
input[type="radio"] {
    outline: none;
}

.woocommerce,
.woocommerce-page {
    #page_content_wrapper,
    .products {
        a.button {
            &:before {
                position: static;
                margin-left: 0;
            }
        }
    }
}

#page_caption {
    .page_title_wrapper {
        width: 960px;
    }
}

.select2-drop {
    @include border-radius(0);
    border-color: $input-border;
}

.menu_image {
    @include border-radius(50%);
    @include transform(translateY(-20px));
}

@include bp(max-width, $tablet - 1) {
    #page_content_wrapper,
    .standard_wrapper {
        padding: 0 20px;
    }
    .menu_content_classic {
        margin: 15px 0 0;
    }
    .menu_image {
        display: none;
    }
    .one_half, .one_half.last,
    .one_third, .one_third.last,
    .one_third.pricing, .one_fourth.pricing {
        margin: 0;
    }
}