/* General style */

.woocommerce,
.woocommerce-page {
    #page_content_wrapper,
    .products {
        a.button {
            &:before {
                position: static;
                margin-left: 0;
            }
        }
    }
}

#page_caption {
    .page_title_wrapper {
        width: 960px;
    }
}

.select2-drop {
    @include border-radius(0);
    border-color: $input-border;
}

@include bp(max-width, $tablet - 1) {
    #page_content_wrapper {
        padding: 0 20px;
    }
}